body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbarBackgroundColor {
  background-color: rgb(233, 221, 205);
}

/* .NavBar-header{
  background-color: aliceblue;
} */

.background-custom-g {
  background-color: #4e8d8f;
}

.image-container {
  position: relative;
  width: 100%;
  height: 90.5vh;
}

.homepage-background {
  width: 100%;
  height: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
  opacity: 1;
  display: block;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(156, 156, 156, 0.5);
}

.text-overlay {
  top: 46%;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: #ececec;
  z-index: 2;
}

.container-overlay {
  text-align: center;
}

.login-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4e8d8f;
  padding: 20px;
}

.button-style{
  text-align: center;
  padding: 20px;
}

.cardContainer{
 position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(auto-fit, 18rem);
  gap: 20px;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
}

Card{
  display: inline-block;
  margin-right: 20px;
}